<h1>Editing sky</h1>

<% form_for(@sky) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :condition %><br />
    <%= f.text_field :condition %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sky %> |
<%= link_to 'Back', skies_path %>
