<h1>Editing aircraft</h1>

<% form_for(@aircraft) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :wake %><br />
    <%= f.text_field :wake %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @aircraft %> |
<%= link_to 'Back', aircrafts_path %>
