<h1>Listing aircrafts</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Type</th>
    <th>Wake</th>
  </tr>

<% for aircraft in @aircrafts %>
  <tr>
    <td><%=h aircraft.code %></td>
    <td><%=h aircraft.type %></td>
    <td><%=h aircraft.wake %></td>
    <td><%= link_to 'Show', aircraft %></td>
    <td><%= link_to 'Edit', edit_aircraft_path(aircraft) %></td>
    <td><%= link_to 'Destroy', aircraft, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New aircraft', new_aircraft_path %>
