<p>
  <b>Code:</b>
  <%=h @aircraft.code %>
</p>

<p>
  <b>Type:</b>
  <%=h @aircraft.type %>
</p>

<p>
  <b>Wake:</b>
  <%=h @aircraft.wake %>
</p>


<%= link_to 'Edit', edit_aircraft_path(@aircraft) %> |
<%= link_to 'Back', aircrafts_path %>
